*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    
}
body{
    height: 2000px;
}
p{
    color: #8A8FB9;
}
a{
text-decoration: none;
color: #0D0E43;
margin-right: 30px;
}
.container{
    width: 80%;
    margin: auto;
}
.row{
    display: flex;
}
.header{
justify-content: space-around;
margin-top: 20px;
position: fixed;
top: 0;
width: 100%;
}
.search{
    border: solid 1px;
}
.search input,.search button{
    border-style: none;
}
.search button{
    padding: 8px;
    background-color: #FB2E86;
    text-align: center;
}
.list a{
    transition: 0.7s;
}
.header .list a:hover {
    color: #FB2E86;
}
.whatsapp{
    font-size: 100px;
    color: green;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
/*Start Footer*/
.footer{
    margin-top: 200px;
    background-color: #EEEFFB;
    padding: 50px;
}
.left-side{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px 0px;
    width: 40%;
}
.Sign button{
    padding: 8px;
    background-color: #FB2E86;
    border-radius: 10%;
    color: white;
    

}
.Sign button,input{
    border-style: none;

}
.r-side{
justify-content: space-between;
gap: 60px;
width: 60%;
}
.r-side-one h3{
    margin-bottom: 20px;
}
.r-side-one{
    flex-direction: column;
    gap: 20px;
}

/*End Footer*/